version: '3.8'
services:
  db:
    image: postgres:latest
    container_name: postgres_db
    # Maps Host Port 5434 -> Container Port 5432
    ports:
      - "5434:5432"
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Nami1224@@@@
      POSTGRES_DB: postgres